<configurations>
  <configuration name="Dev">
    <schema name="App"/>
    <option path="Web.Authentication.Authentication enabled" value="True"/>
    <option path="Web.Authentication.Authentication type" value="Password"/>
    <option path="Web.Assets.Colors" value="['#d920d9', '#d9d938']"/>
    <option path="Web.Assets.Assets" value="['/home/marian/workspace2/configurator/doc/example/configurator.config']"/>
    <option path="App.Plugins.Plugins" value="['Plugin1', 'Plugin2']"/>
  </configuration>
  <configuration name="Test">
    <schema name="App"/>
    <parent name="Dev"/>
    <option path="App.Debugging.Debugging level" value="Warning"/>
  </configuration>
  <configuration name="Prod">
    <schema name="Web"/>
    <option path="Web.Assets.Colors" value="['#38d9d9', '#d934d9']"/>
  </configuration>
</configurations>
