<configurations>
  <configuration name="Dev">
    <schema name="App"/>
    <option path="App.Option types.Number" value="234324"/>
    <option path="App.Option types.Filename" value="/home/marian/workspace2/configurator/doc/example/configurator.schema"/>
    <option path="App.Debugging.Debugging level" value="Info"/>
    <option path="App.Option types.String" value="asdfasdf"/>
    <option path="Log.Logging.Logging level" value="Warning"/>
    <option path="App.Option types.Datetime" value="('08/01/2014','00:03:00')"/>
    <option path="App.Option types.Email" value="sdafd"/>
    <option path="App.Option types.URI" value="asdfs"/>
    <option path="Database.Database server.Engine" value="Postgresql"/>
    <option path="Log.Logging.Logfile" value="/home/marian/workspace2/configurator/doc/example/configurator.config"/>
    <option path="App.Option types.Directory" value="/home/marian/workspace2/configurator/doc/example"/>
    <option path="App.Option types.Color" value="#d93ed9"/>
    <option path="App.Option types.Timezone" value="Africa/Asmera"/>
    <option path="App.Option types.Country" value="Argentina"/>
    <option path="App.Option types.Language" value="Italian"/>
    <option path="App.Option types.Currency" value="US Dollar"/>
    <option path="App.Option types.Date" value="08/01/2014"/>
    <option path="App.Option types.Time" value="00:03:00"/>
    <option path="Web.Authentication.Authentication enabled" value="True"/>
    <option path="Web.Assets.Colors" value="['#d920d9', '#d9d938']"/>
    <option path="App.Option types.Choice" value="Foo"/>
    <option path="Web.Assets.Assets" value="['/home/marian/workspace2/configurator/doc/example/configurator.config']"/>
    <option path="App.Plugins.Plugins" value="['Plugin1', 'Plugin2']"/>
    <option path="App.Option types.Boolean" value="True"/>
    <option path="App.Option types.Many" value="['/home/marian/workspace2/configurator/doc/example/configurator.config']"/>
    <option path="Web.Authentication.Authentication type" value="Password"/>
    <option path="App.Option types.List" value="['Bar', 'Baz']"/>
  </configuration>
  <configuration name="Test">
    <schema name="App"/>
    <parent name="Dev"/>
    <option path="App.Debugging.Debugging level" value="Warning"/>
    <option path="App.Option types.Color" value="#d924d9"/>
  </configuration>
  <configuration name="Prod">
    <schema name="Web"/>
    <option path="Web.Assets.Colors" value="['#38d9d9', '#d934d9']"/>
  </configuration>
</configurations>
