<configurations>
  <configuration name="Dev">
    <schema name="App"/>
    <option path="Authentication.Authentication type" value="HTTPS"/>
    <option path="Option types.Filename" value="/home/marian/workspace2/configurator/doc/example/configurator.config"/>
    <option path="Option types.Email" value="marianomontone@gmail.com"/>
    <option path="Option types.URI" value="http://www.google.com"/>
    <option path="Database server.Engine" value="Postgresql"/>
    <option path="Option types.Directory" value="/home/marian/workspace2/configurator/doc/example"/>
    <option path="Assets.Colors" value="['#21d9d9', '#d9d953']"/>
    <option path="Option types.Color" value="#d92bd9"/>
    <option path="Option types.Timezone" value="Africa/Algiers"/>
    <option path="Debugging.Debugging level" value="Info"/>
    <option path="Option types.Country" value="Argentina"/>
    <option path="Option types.Language" value="English"/>
    <option path="Option types.Currency" value="Argentine Peso"/>
    <option path="Option types.Date" value="08/01/2014"/>
    <option path="Logging.Expire" value="('07/01/2014','00:00:00')"/>
    <option path="Option types.Time" value="00:04:00"/>
    <option path="Option types.String" value="Configurator"/>
    <option path="Option types.Datetime" value="('08/01/2014','00:00:00')"/>
    <option path="Option types.Choice" value="Bar"/>
    <option path="Option types.List" value="['Bar', 'Baz']"/>
    <option path="Option types.Many" value="['/home/marian/workspace2/configurator/doc/example/configurator.schema', '/home/marian/workspace2/configurator/doc/example/configurator.config']"/>
    <option path="Assets.Assets" value="['/home/marian/workspace2/configurator/doc/images/full.png', '/home/marian/workspace2/configurator/doc/images/newschema.png']"/>
    <option path="Logging.Logfile" value="/home/marian/workspace2/configurator/doc/images/schema_option.png"/>
    <option path="Option types.Number" value="23"/>
    <option path="Option types.Boolean" value="True"/>
    <option path="Plugins.Plugins" value="['Plugin1', 'Plugin2']"/>
    <option path="Authentication.Authentication enabled" value="True"/>
    <option path="Logging.Logging level" value="Warning"/>
  </configuration>
  <configuration name="Test">
    <schema name="App"/>
    <parent name="Dev"/>
  </configuration>
</configurations>
